[
    {
        "name": "pfSense.lan",
        "ip": "192.168.1.1",
        "mac": "FF:FF:FF:FF:FF:FF",
        "enabled": None,
        "state": "up"
    },
    {
        "name": "device.lan",
        "ip": "192.168.1.101",
        "mac": "FF:FF:FF:FF:FF:FF",
        "enabled": None,
        "state": "up"
    }
]