
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>WoL Server</title>
  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <style>
    #newComputerForm{
        max-width: 500px;
        margin:20px;
    }
    .card{
        max-width: 500px;
        margin: 20px;
    }
    .statusIcon{
      margin: 15px 0px 0px -10px;
    }

    .cardButton{
        margin-top:13px;
    }

    .card-text{
        margin-bottom: 3px;
    }

    #pageContent{
        min-width:500px;
        padding-left:30%;
    }



    /* CSS for accordion */
    .accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 91%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      max-width: 500px;
      margin: 20px;
    }
    .active, .accordion:hover {
      background-color: #ccc;
    }
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
    i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    @media screen and (max-width: 1100px) {
      #pageContent {
        padding-left:20%;

      }
    }
    @media screen and (max-width: 800px) {
      #pageContent {
        padding-left:5%;
        padding-right:5%;

      }
    }


    </style>

    <div id="pageContent" class="">

        <h1 style="padding-left:20px;">WoL Server</h1>

        <button class="accordion row"><i id="accordionArrow" class="arrow" style="transform: rotate(-45deg); -webkit-transform: rotate(-45deg);"></i>&nbsp;&nbsp;Add Server</button>

        <div class="panel"><br></i><br>


        <form id="newComputerForm" class="" action="/" method="post">
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Computer Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="computerNameFormField" placeholder="JOHN-DESKTOP">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Computer IP Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="computerIPFormField" placeholder="192.168.1.43">
            </div>
          </div>
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Computer MAC Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="computerMACFormField" placeholder="00:14:22:01:23:45">
            </div>
          </div>
          <input value = "newComputerForm" type="hidden" name="form_id">
          <button type="submit" class="btn btn-primary">Save Computer</button>
        </form>

        </div>

        <div id="cards" class="">
            {% for comp in computers %}
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-1 statusIconDiv">
                                <span class="statusIcon fa fa-moon-o fa-2x"></span>
                                <span class="computer-ip" style="display: none;">{{ comp["ip"] }}</span>
                                <span class="isAlive" style="display: none;">{{ pingComputer(comp["ip"]) }}</span>


                            </div>
                            <div class="col-6">
                                <h5 class="card-title">{{ comp["name"] }}</h5>
                                <p class="card-text">{{ comp["mac"] }}</p>
                                <p class="card-text">{{ comp["ip"] }}</p>
                            </div>
                            <div class="col-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">

                                            <form id="wakeComputerForm" action="/" method="post">
                                                <input value = "{{ comp['mac'] }}" type="hidden" name="computerMACFormField">
                                                <input value = "wakeComputer" type="hidden" name="form_id">
                                                <button type="submit" class="wakeButton cardButton btn btn-primary">Wake</button>
                                            </form>

                                        </div>
                                        <div class="col-6">

                                            <form id="deleteComputerForm" action="/" method="post">
                                                <input value = "{{ comp['mac'] }}" type="hidden" name="computerMACFormField">
                                                <input value = "deleteComputer" type="hidden" name="form_id">
                                                <button type="submit" class="deleteButton cardButton btn btn-danger">Delete</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>

        //code for hiding the widget configuration section
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {

            this.classList.toggle("active");
            var panel = this.nextElementSibling;

            var accordionArrow = document.getElementById("accordionArrow");
            if (panel.style.display === "block") {

              accordionArrow.style.transform = "rotate(-45deg)";
              accordionArrow.style.webkitTransform = "rotate(-45deg)";

              panel.style.display = "none";
            } else {
              panel.style.display = "block";

              accordionArrow.style.transform = "rotate(45deg)";
              accordionArrow.style.webkitTransform = "rotate(45deg)";
            }
          });
        }

    </script>

    <script>

        var cards = document.getElementsByClassName("card");

        for (var card = 0; card < cards.length; card++){

            console.log(cards[card].children[0].children[0].children[0]);

            var wakeButton = cards[card].getElementsByClassName("wakeButton")[0];
            console.log(wakeButton);


            var iconSection = cards[card].getElementsByClassName("statusIconDiv")[0];
            console.log(iconSection);
            console.log(iconSection.children[2]);

            // if the computer is on
            if (iconSection.children[2].innerText == "true"){
                if (iconSection.children[0].classList.contains("fa-moon-o")){
                    iconSection.children[0].classList.remove("fa-moon-o");
                }

                iconSection.children[0].classList.add("fa-check-circle-o");

                if (wakeButton.classList.contains("active")){
                    wakeButton.classList.remove("active");
                }
                wakeButton.classList.add("disabled");

            }
            // if the computer is off
            else {
                if (iconSection.children[0].classList.contains("fa-check-circle-o")){
                    iconSection.children[0].classList.remove("fa-check-circle-o");
                }
                iconSection.children[0].classList.add("fa-moon-o");

                if (wakeButton.classList.contains("disabled")){
                    wakeButton.classList.remove("disabled");
                }
                wakeButton.classList.add("active");
            }

        }



    </script>
    
  </body>
</html>